@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Irish+Grover&family=Lobster&family=Mochiy+Pop+P+One&family=Pacifico&family=Zen+Kurenaido&display=swap');
body{
    font-family: 'Caveat', cursive;
    text-align: center;
    background-color: rgba(121, 253, 187, 0.911);
}
label{
    font-size: x-large;
    color: rgb(0, 112, 34);
}
h1{
    color: rgb(0, 112, 34);
    font-size: xx-large;
}
input{
    border: 3px solid rgb(12, 211, 101);
    size: 30px;
    border-radius: 5px;
}
select{
    height: 25px;
    width: 175px;
    border: 3px solid rgb(12, 211, 101);
    border-radius: 5px;
}
button{
    color:rgb(255, 255, 255);
    background-color: rgb(0, 146, 97);
    border: 3px solid rgb(0, 83, 25);
    border-radius: 15px;
    width: 175px;
    height: 40px;
    font-size: large;
}